.leftContainer{
	width:25%;
	min-width: 100px;
}

.rightContainer{
	width:70%;
}

.tvosIconImage {
	width:100%;
	min-width: 100px;
}

.iconImage{
	width:80%;
	min-width: 100px;
	max-width:175px;
	border-radius: 20%;
}

.screenShootItem{
	margin-left: 5px;
	margin-right: 5px;
}

.rightContainer > h3 {
	color:black;	
}

.rightContainer > p {
	color:#858989;
}