.videoClose{
	width:33px;
	height:33px;
	margin-bottom: 10px;
	background-image:url(/images/videoClose.png);
}

.videoClose:hover{
	opacity: 0.5;
};



@keyframes showRotate
{
	from {
		transform:rotate(180deg);
		opacity: 0;
	}
	to {
		transform:rotate(0deg);	
		opacity: 1;
	}
}

@-webkit-keyframes showRotate /* Safari 和 Chrome */
{
	from {
		-webkit-transform:rotate(180deg);	
		opacity: 0;
	}
	to {
		-webkit-transform:rotate(0deg);	
		opacity: 1;
	}
}


@-moz-keyframes showRotate /* Firefox */
{
	from {
		-moz-transform:rotate(180deg);	
		opacity: 0;
	}
	to {
		-moz-transform:rotate(0deg);	
		opacity: 1;
	}
}

@-o-keyframes showRotate /* Opera */
{
	from {
		-o-transform:rotate(0deg);
		opacity: 0;
	}
	to {
		-o-transform:rotate(0deg);
		opacity: 1;
	}
}


#hint{
	opacity: 0;
	animation: showRotate 1.0s ease-out 0.5s forwards;
	-moz-animation: showRotate 1.0s ease-out 0.5s forwards;
	/* Safari 和 Chrome: */
	-webkit-animation: showRotate 1.0s ease-out 0.5s forwards; /* forwards 保留最后状态 */
	/* Opera: */
	-o-animation: showRotate 1.0s ease-out 0.5s forwards;
}


@keyframes show
{
	from {
		opacity: 0;
	}
	to {
		opacity: 1;
	}
}

@-webkit-keyframes show /* Safari 和 Chrome */
{
	from {	
		opacity: 0;
	}
	to {
		opacity: 1;
	}
}


@-moz-keyframes show /* Firefox */
{
	from {
		opacity: 0;
	}
	to {	
		opacity: 1;
	}
}

@-o-keyframes show /* Opera */
{
	from {
		opacity: 0;
	}
	to {
		opacity: 1;
	}
}

#watchBtn{
	opacity: 0;
	animation: show 1.0s ease-out 1.5s forwards;
	-moz-animation: show 1.0s ease-out 1.5s forwards;
	/* Safari 和 Chrome: */
	-webkit-animation: show 1.0s ease-out 1.5s forwards; /* forwards 保留最后状态 */
	/* Opera: */
	-o-animation: show 1.0s ease-out 1.5s forwards;
}
