
.flowItem{

}

.projectIcon{
	width: 40%;
	min-width: 50px;
	max-width: 100px;
	border-radius: 20%;
}

.projectItemTitle{
	font-size: 14px;
}

.projectItemInfo{
	font-size:13px;
	color:#878787;
}

.webTitle{
	width:100%;
	text-align: center;
}

.webFluidItem{
	width:100%;
}

.webImageShow{
	width:100%;
	background-color: black;
	display:inline-block;
	overflow: hidden;
}

.webFluidItemImg{
	opacity: 0.3;
	width:23%;
	height:142px;
	float: left;
}

.greTitleDiv{
	background-repeat: no-repeat;
	background-size: 100% 100%;
	width: 100px;
	height: 100px;
	border-radius: 20%;
}