
<section>
    <h2 id="about-me">About</h2>
    <hr class="bar" />
    <div class="about-lock">

        <div ontouchstart="this.classList.toggle('hover');" class="flip-container">
            <div class="flipper">
                <div class="front">
                    <div class="face-img"></div>
                </div>
                <div class="back">
                    <div class="face1-img"></div>
                </div>
            </div>
        </div>
        <div class="glyph-icon flaticon-cogwheel28"></div>
        <div class="glyph-icon flaticon-computer1"></div>
        <div class="glyph-icon flaticon-hosting"></div>
        <div class="glyph-icon flaticon-computers13"></div>
    </div>
    <div class="blurb">
        <p>My name is Qiu Feng, a developer from Tongji University, in Shanghai. As a fan of Apple, I have been studying iOS since 2012. Now I am a full time developer for iOS Application who loves coding.</p>
        <p>Except iOS, I also enjoy tvOS & macOS.</p>
    </div>
    <div class="skill-lock"></div>
</section>