<section class="section-contact">
    <h2 id="Details">Contact Details</h2>
    <hr class="bar" />
    <div class="social-links">
        <a href="https://www.facebook.com/profile.php?id=100004379657193">
            <div class="glyph-icon flaticon-facebook3"></div>
        </a>
        <a href="http://www.linkedin.com/in/feng-qiu-56bb4b67">
            <div class="glyph-icon flaticon-linkedin"></div>
        </a>
        <a href="https://github.com/VioletHill">
            <div class="glyph-icon flaticon-github"></div>
        </a>
        <a href="https://www.youtube.com">
            <div class="glyph-icon flaticon-youtube31"></div>
        </a>
    </div>
    <hr class="bar" /><a href="mailto:code@qiufeng.me" class="biglink">code@qiufeng.me</a></section>