---
layout: base
---

<link rel="stylesheet" href="/css/detail.css" />
<link rel="stylesheet" href="/css/projects.css" />

<div class="container">
	<div class="container-fluid">
		<h2>{{ page.title }}</h2>
		<br>

		<div class="leftContainer" style="float:left">
			<div>
				{% if page.category == "tvos_projects" %}
				<img class="tvosIconImage" src="{{page.image}}">
				{% else %}
				<img class="iconImage" src="{{page.image}}">
				{% endif %}
			</div>
			<br>
			<div>
				<a class="btn btn-primary" style="border-radius: 15px" href="{{page.itunesLink}}">View in iTunes</a>
			</div>
			<br>
			<br>
			<p>
				<span class="projectItemCost">{{page.cost}}</span><br>
				<span class="projectItemInfo">Category</span>:<span class="projectItemInfo"> {{page.type}}</span><br>
				<span class="projectItemInfo">Released</span>:<span class="projectItemInfo"> {{page.released}}</span><br>
				<span class="projectItemInfo">Version</span>:<span class="projectItemInfo"> {{page.version}}</span><br>
				<span class="projectItemInfo">Size</span>:<span class="projectItemInfo"> {{page.size}}</span><br>
				<span class="projectItemInfo">{{page.copyright}}</span>
				<br>
				<br>
				<span class="projectItemTitle">Compatibility</span>:<span class="projectItemInfo"> {{page.require}}</span><br>
			</p>
		</div>
		<div class="rightContainer" style="float:right">
			<h3>Description</h3>
			
			{{content}}
			
			<br>

			<h3>Screenshots</h3>
			<div id="screenShootContainer" style="overflow:scroll; white-space:nowrap">
				<script>
					var screenShoot={{page.screenShoot}};
					for (var i=0; i<screenShoot.length; i++)
					{
						var img="<img class='screenShootItem' src='"+screenShoot[i]+"'>";
						console.log(img);
						$("#screenShootContainer").append(img);
					}

				</script>
			</div>
		</div>
	</div>
</div>
